
\.idea/

packages/

Chess\.Test/bin/

Chess\.Test/obj/

Perft/bin/

Perft/obj/

Chess/bin/

Chess/obj/

Chess/Diagrams/

\.vs/

/BenchmarkCore/bin/Release/netcoreapp2.1
/BenchmarkCore/obj
/BenchmarkFramework/bin/Release
/BenchmarkFramework/obj/Release
/PerftCore/bin
/PerftCore/obj
/PerftFramework/bin/Release
/PerftFramework/obj/Release
